NETWORK_NAME=DataONE
PRESTON_NETWORK_SEED="https://dataone.org"
NETWORK_LONGNAME="Data Observation Network for Earth"
NETWORK_DESCRIPTION="${NETWORK_NAME} is a distributed infrastructure that provides information about earth observation data."
PRESTON_REMOTE_URL=https://zenodo.org/record/3277312/files

